/* LATAR DAN BACKGROUND */
.latar{
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 20px;
}
.latar label{
  height: 40px;
  padding-inline: 1.2em;
  display: grid;
  align-items: center;
}

/* TABEL */
#tabel{
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  overflow: hidden;
}

table{
  text-align: center;
  width: 100%;
  background-color: var(--w3);
  border-collapse: collapse;
  border: 20px solid var(--w3);
}
table tr{
  color: var(--w4);
}
table tr:nth-child(odd){
  background-color: var(--darktable);
}
table tr:nth-child(1) {
  background-color: var(--w4);
  color: var(--w3);
}
table td{
    padding: 15px;
}
table td:nth-child(1){
    width: 3rem;
}

/* PAGINATION */
#pagination{
  margin-top: 10px;
  position: relative;
  float: right;
}

#pagination button{
  background-color: var(--w1);
  border-radius: 2px;
  cursor: pointer;
  border:none;
  height: 25px;
  width: 25px;
  opacity: 0.8;
}
#pagination button:hover {
  opacity: 1;
  box-shadow: 3px 3px 5px var(--w5);
}
#pagination #paginSelected {
  opacity: 1;
  background-color: var(--w5);
}

/* TAMBAHAN */
#tambahan #bungkus_input{
  display: grid;
  grid-template-columns: 50% 50%;
}
#tambahan input{
  padding: 10px;
  background-color: var(--w4);
}
#tambahan button{
  border: none;
  background-color: var(--w5);
  padding: 8px;
  padding-inline: 20px;
  margin-top: 10px;
  border-radius: 3px;
}
#tambahan button:hover{
  letter-spacing: 1px;
  background-color: var(--selected);
  color: var(--w2);
  box-shadow: var(--selected) 0px 5px 10px 0px;
}

/* EDIT ADMIN */
#edit_admin{
  background-color: var(--w3);
  border-radius: 7px;
  padding: 30px;
  color: var(--w4);
}
#edit_admin:hover{
  box-shadow: 0px 3px 8px var(--selected);
  transition: all 0.3s;
}

/* TAMBAH ADMIN */
#tambah_admin {
  position: relative;
  margin-top: 20px;
  background: var(--w3);
  padding: 30px;
  color: var(--w4);
  border-radius: 7px;
}
#tambah_admin:hover{
  box-shadow: 0px 3px 8px var(--selected);
  transition: all 0.3s;
}

/* PERINGATAN EDIT ADMIN */
#peringatan_edit_admin {
  text-align: center;
  line-height: 5rem;
  font-size: 1.5rem;
}