/* BAGIAN LATAR DAN BACKGROUND */
.latar{
  display: grid;
  grid-template-columns: 70% auto;
  column-gap: 20px;
}

/* BAGIAN TABEL */
#tabel{
  border-radius: 7px;
  overflow: hidden;
}
#tabel h3{
  color: var(--w1);
}
#tabel_isi{
  padding: 20px;
  background-color: var(--w3);
  border-radius: 7px;
}
table{
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}
table tr{
  color: var(--w4);
}
table tr:nth-child(odd){
  background-color: var(--darktable);
}
table tr:nth-child(1) {
  background-color: var(--w4);
  color: var(--w3);
}
table td{
    padding: 15px;
}
table td:nth-child(1){
    width: 3rem;
}


/* BAGIAN PAGINATION */
#pagination{
  margin-top: 10px;
  position: relative;
  float: right;
}

#pagination button{
  background-color: var(--w4);
  border-radius: 2px;
  cursor: pointer;
  border:none;
  height: 25px;
  width: 25px;
  opacity: 0.8;
}
#pagination button:hover {
  opacity: 1;
  box-shadow: 3px 3px 5px var(--w5);
}
#pagination #paginSelected {
  opacity: 1;
  background-color: var(--w5);
}

/* BAGIAN GRAFIK */
.grafik{
  background-color: var(--w3);
  border-radius: 7px;
  padding: 20px;
}
.grafik:hover{
  box-shadow: 0px 3px 8px var(--selected);
  transition: all 0.3s;
}

/* BAGIAN PENJELASAN */
#penjelasan {
  position: relative;
  margin-top: 20px;
  background: var(--w3);
  padding: 30px;
  color: var(--w4);
  border-radius: 7px;
}
#penjelasan:hover{
  box-shadow: 0px 3px 8px var(--selected);
  transition: all 0.3s;
}