body{
    background-color: #23262D;
    overflow-x: hidden;
    margin: 0;
}

.latar{
    width: 1200px;
    align-items: center;
    padding: 30px;
}

.latar .background{
    width: 1300px;
    height: 1000px;
    background-color: #272A35;
    border-radius: 20px;
}

.latar .background h1{
    width: 1300px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border-bottom: 2px solid black;
}

.latar .background .kotak1{
    background-color: #23262D;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    margin-left: 50px;
}

