/* PEMBUNGKUS */
#isi_grafik{
    display: grid;
    grid-template-columns: 70% auto;
    column-gap: 30px;
}

/* BAGIAN GRAFIK */
.grafik{
    position: relative;
    padding: 50px;
    background-color: var(--w3);
    border-radius: 7px;
}
.grafik:hover{
    box-shadow: 0px 3px 8px var(--selected);
    transition: all 0.3s;
}

/* BAGIAN GRAFIK KECIL */
.kotak div{
    background-color: var(--w3);
    border-radius: 7px;
    color: var(--w4);
    padding: 30px;
}
.kotak div:not(:nth-child(1)) {
    margin-top: 30px;
}
.kotak div:hover{
    box-shadow: 0px 3px 8px var(--selected);
    transition: all 0.3s;
}

/* BAGIAN PENJELASAN */
#isi_grafik #penjelasan{
    position: relative;
    background-color: var(--w3);
    margin-top: 30px;
    color: var(--w4);
    padding: 50px;
    border-radius: 7px;
}
#isi_grafik #penjelasan:hover{
    box-shadow: 0px 3px 8px var(--selected);
    transition: all 0.3s;
}

/* BAGIAN KOMENTAR */
#komen{
    position: relative;
    background-color: var(--w3);
    min-height: 200px;
    margin-top: 30px;
    border-radius: 7px;
    padding: 50px;
}
#komen:hover{
    box-shadow: 0px 3px 8px var(--selected);
    transition: all 0.3s;
}
#komen h3{
    color: var(--w4);
}
#komen textarea{
    width: 99%;
    height: 100px;
    position: relative;
    float: right;
    background-color: var(--w4);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    color: var(--w2);
}
#komen button{
    float: right;
    width: 7rem;
    height: 2rem;
    font-size: 18px;
    border: none;
    background-color: var(--w5);
    color: var(--w2);
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
#komen #judul{
    position: relative;
    margin-top: 300px;
    width: 100%;
    text-align: center;
}
#komen div{
    position: relative;
    margin-top: 30px;
}
#komen b{
    background: linear-gradient(to right, var(--w5), transparent);
    border-bottom-left-radius: 7px;
    padding: 2px;
    padding-inline: 4px;
    color: var(--w2);
}
#komen p{
    margin-top: 0;
    background: var(--w4);
    padding: 10px;
    color: var(--w2);
    border-radius: 7px;
}
#komen sup{
    color: var(--w4);
}
#komen #hapus{
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--danger);
    width: 3rem;
    margin-top: 0;
}