.latarBlkng{
  display: grid;
  grid-template-columns: 80% auto;
  column-gap: 30px;
}


/* BAGIAN TABEL */
#tabel{
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  overflow: hidden;
}

table{
  text-align: center;
  width: 100%;
  background-color: var(--w3);
  border-collapse: collapse;
  border: 20px solid var(--w3);
}
table tr{
  color: var(--w4);
}
table tr:nth-child(odd){
  background-color: var(--darktable);
}
table tr:nth-child(1) {
  background-color: var(--w4);
  color: var(--w3);
}
table td{
    padding: 15px;
}
table td:nth-child(1){
    width: 3rem;
}

/* BAGIAN PAGINATION */
#pagination{
  margin-top: 10px;
  position: relative;
  float: right;
}

#pagination button{
  background-color: var(--w1);
  border-radius: 2px;
  cursor: pointer;
  border:none;
  height: 25px;
  width: 25px;
  opacity: 0.8;
}
#pagination button:hover {
  opacity: 1;
  box-shadow: 3px 3px 5px var(--w5);
}
#pagination #paginSelected {
  opacity: 1;
  background-color: var(--w5);
}

/* BAGIAN MENAMBAHKAN PLAT */
#tambahan #input_text{
  width: 100%;
  height: 30px;
  background: no-repeat;
  border-top: none;
  border-left: none;
  border-right: none;
  color: var(--w4);
}
#tambahan button{
  background: none;
  background-color: var(--w5);
  border: none;
  padding: 10px;
  border-radius: 5px;
}
#tambahan select{
  background: none;
  background-color: var(--w5);
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-block: 10px;
}
#tambahan b{
  color: var(--w5);
}
.TambahPlat{
  background-color: var(--w3);
  border-radius: 7px;
  padding: 50px;
  color: var(--w4);
}
.TambahPlat:hover{
  box-shadow: 0px 3px 8px var(--selected);
  transition: all 0.3s;
}

.TambahPlat .tombolPlat{
  margin-top: 60px;
}
.TambahPlat .tombolPlat button:hover,
.TambahPlat .tombolPlat select:hover{
  letter-spacing: 1px;
  background-color: var(--selected);
  color: var(--w2);
  box-shadow: var(--selected) 0px 5px 10px 0px;
}

/* BAGIAN EDIT LOKASI */
#PlatMtr {
  margin-top: 20px;
  background: var(--w3);
  padding: 50px;
  border-radius: 7px;
  color: var(--w4);
}
#PlatMtr:hover{
  box-shadow: 0px 3px 8px var(--w5);
  transition: all 0.3s;
}